.HeaderH1 {
    color: var(--bgdark);
    margin: 0 auto;
    padding: 1rem 0 0 0;
    font-size: 3.5rem;
}

.HeaderH6 {
    color: var(--bgdark);
    margin: 0 auto;
    /* padding: 1rem; */
    font-size: 1.5rem;
    /* width: 206px;
    height: 40px; */
}

.HeaderImg {
    width: 25px;
    height: 25px;
    position: fixed;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
}

.SearchTop {
    width: 25px;
    height: 25px;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    cursor: pointer;
}